<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
  <h1>Hi, I'm Matt Tomaselli</h1>
  <h2>Joined in 2019</h2>
  <ion-avatar>
    <img src="./images/Mar&Mar.jpg">
  </ion-avatar>
  <h3>tomasellimatthew@gmail.com</h3>
  <h3>4437618846</h3>
  <h4>21 Bookings made</h4>
  <h4>3 Reviews Received</h4>
    <ul>
      <li><b>From Jason</b></li>
        <p>Matt is such an amzing host! When I woke up I found him staring at me in my sleep, though he had a plate of bacon ready to go.</p>
      <li><b>From Emily</b></li>
        <p>Besides the cockroaches, everything was superb.</p>
    </ul>
  
</ion-header>

<ion-content>

</ion-content>
